* {
    padding: 2px;
}

body {
    margin: 10px;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h4 {
    margin: 0;
    padding: 0;
    color: blue;
}

#box {
    display: flex;
    border: 1px black solid;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

#output {
    padding-top: 5px;
    background-color: lightyellow;
    font-weight: 700;
}